/* Add your styles here */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes rise {
    to { transform: translateY(-10px) }
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

body {
  background-color: black;
  color: red;
  margin: 0;
  font-family: Courier;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding-right: 50%;
    text-align: center;
}

/* ---------------------------*/
/*  add styles for hero unit  */
p {
    text-align: center;
    clear: both;
    position: relative;
    padding-top: 25px;
    font-size: 20px;
}

.hero {
    padding-top: 20px;
    padding-bottom: 20px
}

.hero-container {
    padding: 20px;
    height: 20px;
}  

.hero .hero-content {
    width: 40%;
    float: right;
}

.floatingp {   
    animation-name: floatingp; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px;
    margin-top: 5px;
} 

.floatingh {   
    animation-name: floatingh; 
    animation-duration: 3.5s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px;
    margin-top: 5px;
} 

.floatingi {   
    animation-name: floatingi; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px;
    margin-top: -10px;
}

.floatingi2 {   
    animation-name: floatingi; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: -10px; 
} 

@keyframes floatingp { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

@keyframes floatingh { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

@keyframes floatingi { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 20px); } 
    100%   { transform: translate(0, -0px); }     
} 

.hero .hero-content h1 {
    position: relative;
    float: top center;
    margin-top: -25px;
    z-index: 2;
    font-size: 50px;
    margin-left: -60px;
    color: red
}

.hero .hero-content p {
    position: relative;
    color: red;
    margin-left: -60px;
    z-index: 3
} 

.hero .hero-image img {
    float: right;
    margin-top: 25px;
    background-size: cover;
    z-index: 1;
}

/* -----------------------------------*/
/* add styles for the navigation menu */

nav {
    overflow: hidden;
    height: 100%;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #db0000;
    /* float: top; */
    text-align: left
}

nav ul {
    float: top;
    list-style-type: none
}

nav ul li {
    display: inline
}

nav ul li a {
    color: black;
}

a {
    color: red;
    transition: transform 250ms;
    transition-timing-function: ease;
}

a:hover {
    text-decoration-line: underline;
    transform: translateY(-5px)
}

nav ul li a.active {
    text-decoration: active
}

nav ul li a:hover {
    color: #9500ff;
}

.caption {
    float: left;
    margin-left: -10px;
    animation-name: floatingp;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}

.caption2 {
    float: left;
    margin-left: -10px;
    margin-right: -10px;
    animation-name: floatingp;
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}
